/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

@media (min-width: 1920px) {
  .theme-default-content, .content {
    max-width: 1100px !important;
  }
}

@media (min-width: 2560px) {
  .theme-default-content, .content {
    max-width: 1200px !important;
  }
}

@media (min-width: 3840px) {
  .theme-default-content, .content {
    max-width: 1400px !important;
  }
}

